<h1 id="beau-travail-alpha-0.12">beau-travail alpha (0.12)</h1>
<ul>
<li>[0.1] scales
<ul>
<li>[0.2] recursive scales</li>
<li>[0.3] input and output scales (screen)</li>
<li>[ ] camera</li>
</ul></li>
<li>[0.4] floodfill
<ul>
<li>[0.5] parametric floodfill</li>
<li>[0.6] data floodfil</li>
<li>[0.7] multidimentional floodfill</li>
</ul></li>
<li>[0.8] mobile objects
<ul>
<li>[0.9] keys to move</li>
<li>[0.10] keys to events
<ul>
<li>[0.13] floodfill events</li>
</ul></li>
<li>[0.11] flood to mobiles
<ul>
<li>[0.12] flood data to mobile</li>
<li>[ ] data inventory</li>
<li>[ ] data effects</li>
<li>[ ] craftable datas
<ul>
<li>[ ] customizable floodfill events</li>
</ul></li>
</ul></li>
</ul></li>
<li>[ ] goal</li>
</ul>
